.sidebar
{
  transition: all ease-in-out 1s;
  float:left;
  height: 40rem !important;;
}

.sidebar:valid
{
  transition: all ease-out 1s;
 background-color:red;
 left:-10rem;
}

#first:hover
{
 
  border-bottom: 1px solid black;
  transition: all ease-in .5s;
  border-radius:0px;
  
}